fastapi
geopy
pydantic
python-jose==3.3.0
SQLAlchemy
starlette
requests
pytest
pytest-asyncio
bcrypt==3.2.2
passlib
folium
sentry-sdk[fastapi]
python-dotenv
fastapi_pagination
#for postgres
psycopg2-binary
###
uvicorn
python-multipart
certifi