fastapi
geopy
pydantic
python-jose
SQLAlchemy
starlette
requests
pytest
pytest-asyncio
bcrypt
passlib
folium
sentry-sdk[fastapi]
python-dotenv
fastapi_pagination
#for postgres
psycopg2-binary
###
uvicorn
python-multipart
certifi